language: ruby
bundler_args: --without development
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - jruby-18mode
  - jruby-19mode
  - ruby-head
  - jruby-head
  - ree
jdk:
  - oraclejdk7
  - openjdk7
env: JRUBY_OPTS="--server -Xcompile.invokedynamic=false -J-XX:+TieredCompilation -J-XX:TieredStopAtLevel=1 -J-noverify -J-Xms512m -J-Xmx1024m"
matrix:
  allow_failures:
    - rbx-18mode
    - rbx-19mode
    - rvm: jruby-head
    - rvm: ruby-head
    - rvm: ree
    - rvm: 1.8.7
    - rvm: jruby-18mode
    - rvm: rbx-18mode
branches:
  only:
    - master
